<!DOCTYPE html>
<html lang="es">
<head>
    <title>CarbonOrg-Calculator</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body class="sinMargen">
    <section class="banner">
        <h1 class="titulo">CarbonOrg-Calculator</h1>
    </section>
    <div class="navBar">
        <a class="active" href="/">Home</a>
        <a href="/calculadora">Calculadora</a>
        <a href="/trayectos/new">Registrar Trayecto</a>
        <a href="/reportes">Reportes</a>
        <a href="vinculaciones">Vinculaciones</a>
    </div>
    <section class="marcoCuerpo">
        <section class="cuerpo">
            <h4 style="margin-top: 0px;margin-bottom: 0px;">Sobre nuestro sitio...</h4>
            <p>
                En CarbonOrg-Calculator creemos en una Economía Circular, que sea igual de eficiente que ecológica,
                preocupándonos por reducir el impacto ambiental y mejorando la rentabilidad.
                Esta aplicación permite medir tu Huella de Carbono, es decir, la cantidad de gases de efecto invernadero generados por tus actividades cotidianas.
                Entérate, toma acciones y contribuye a reducir los efectos del cambio climático.
            </p>
            <p>¿Qué es la Huella de Carbono?</p>
            <p>
                La Huella de Carbono es una medida de cuantificación del impacto en el cambio climático de
                las actividades que se realizan a diario por parte de individuos, organizaciones, productos o territorios.
                La Huella de Carbono se ha convertido en un importante indicador en el debate público sobre cambio climático, atrayendo la atención de consumidores,
                negocios, gobiernos e instituciones preocupadas por el impacto de sus actividades en el medio ambiente. Se constituye en una herramienta de gestión de carbono.
            </p>

            <p>¡Qué estás esperando, calcula tu huella <a href="/calculadora">acá</a>!</p>
        </section>
    </section>
</body>
</html>