{{# partial "titulo" }}
    <title>CarbonOrg-Calculator | Calculadora</title>
{{/partial}}

{{# partial "contenido" }}
    <section class="marcoCuerpo">
        <section class="cuerpo">
            <title>Calculadora</title>
            <form action="/calculadora/organizacion" method="GET">
                <div class="input-field">
                    <label for="seleccion">Organización:</label>
                    <input value="{{organizacion.nombre}}" name="seleccion" id="seleccion"
                           type="text" class="validate" disabled>
                </div>
                <div class="input-field">
                    <label for="area">Area:</label>
                    <input value="{{nombreArea}}" name="tipo_calculo" id="tipo_calculo" type="text"
                           class="validate" disabled>
                </div>
                <div class="input-field">
                    <label for="hc">HC:</label>
                    <input id="hc" name="hc" value="{{valorHC}}" type="text" class="validate" disabled>
                </div>
                <input value="Volver a Calcular" type="submit">
            </form>
        </section>
    </section>
{{/partial}}

{{> layout-organizaciones.html.hbs }}