{{# partial "contenido"}}
    <section class="marcoCuerpo">
        <section class="cuerpo">
            <h2>Sobre nuestro sitio</h2>
            <p>
                En CarbonOrg-Calculator creemos en una Economía Circular, que sea igual de eficiente que ecológica,
                preocupándonos por reducir el impacto ambiental y mejorando la rentabilidad.
                Esta aplicación permite medir tu Huella de Carbono, es decir, la cantidad de gases de efecto invernadero generados por tus actividades cotidianas.
                Entérate, toma acciones y contribuye a reducir los efectos del cambio climático.
            </p>

            <p>¿Qué es la Huella de Carbono?</p>
            <p>
                La Huella de Carbono es una medida de cuantificación del impacto en el cambio climático de
                las actividades que se realizan a diario por parte de individuos, organizaciones, productos o territorios.
                La Huella de Carbono se ha convertido en un importante indicador en el debate público sobre cambio climático, atrayendo la atención de consumidores,
                negocios, gobiernos e instituciones preocupadas por el impacto de sus actividades en el medio ambiente. Se constituye en una herramienta de gestión de carbono.
            </p>

            <p>¡Qué estás esperando, calcula tu huella <a href="/huella-de-carbono">acá</a>.</p>
        </section>
    </section>
{{/partial}}

{{> layout-miembros.html.hbs }}