{{# partial "nav" }}
    <nav class="navBar">
        <a href="/home">Home</a> |
        <a href="/mediciones/nueva">Mediciones</a> |
        <a href="/vinculaciones/pendientes">Vinculaciones</a>
        <a href="/calculadora/organizacion">Calculadora</a> |
        <a href="/reportes">Reportes</a> |
        <a href="/recomendaciones">Recomendaciones</a> |
    </nav>
{{/partial}}

{{> layout.html.hbs }}