{{# partial "nav" }}
    <nav class="navBar">
        <a href="/home">Home</a> |
        <a href="/reportes">Reportes</a> |
        <a href="/recomendaciones">Recomendaciones</a> |
    </nav>
{{/partial}}

{{> layout.html.hbs }}