{{# partial "nav" }}
    <nav class="navBar">
        <a href="/home">Home</a> |
        <a href="/calculadora/miembro">Calculadora</a> |
        <a href="/reportes">Reportes</a> |
        <a href="/vinculaciones/nueva">Vinculaciones</a> |
        <a href="/trayectos/seleccion">Registrar Trayecto</a>|
    </nav>
{{/partial}}

{{> layout.html.hbs }}