{{# partial "titulo" }}
    <title>CarbonOrg-Calculator | Mediciones</title>
{{/partial}}

{{# partial "contenido" }}
    <section class="marcoCuerpo">
        <section class="cuerpo">
            <h1>Mediciones creadas</h1>
            <a href="/mediciones/nueva"></a>
        </section>
    </section>
{{/partial}}

{{> layout-organizaciones.html.hbs }}