{{# partial "titulo" }}
    <title>CarbonOrg-Calculator | Registrar Trayecto</title>
{{/partial}}

{{# partial "contenido" }}
    <section class="marcoCuerpo">
        <section class="cuerpo">
            <title>Registrar Trayecto</title>
            <form method="POST" action="/trayectos/nuevo">
                <div>
                    <label for="nombre_trayecto">Nombre nuevo trayecto:</label>
                    <input id="nombre_trayecto" name="nombre_trayecto" type="text" class="validate">
                </div>
                <input type="submit" value="Cargar">
            </form>
        </section>
    </section>
{{/partial}}

{{> layout-miembros.html.hbs }}