{{# partial "titulo" }}
    <title>CarbonOrg-Calculator | Operacion</title>
{{/partial}}

{{# partial "contenido" }}
    <section class="marcoCuerpo">
        <section class="cuerpo">
            <h1>Operacion creada con exito!</h1>
        </section>
    </section>
{{/partial}}

{{#if layoutAgenteSectorial}}
    {{> layout-agentes-sectoriales.html.hbs }}
{{/if}}

{{#if layoutOrganizacion}}
    {{> layout-organizaciones.html.hbs }}
{{/if}}

{{#if layoutMiembro}}
    {{> layout-miembros.html.hbs }}
{{/if}}
