<div class="campo">
    <label>Usuario:</label>
    <input placeholder="Ingrese usuario" type="text" name="user">
</div>
<div class="campo">
    <label>Contrasenia:</label>
    <input placeholder="Ingrese contrasenia" type="password" name="pass">
</div>